<section>
    <img class="h-full max-h-[520px] w-full" src={`${import.meta.env.BASE_URL}/images/banner.jpg`} alt="Guitarras">
    <div class="absolute top-[160px] w-screen">
        <dd class="text-center text-6xl sm:text-7xl md:text-8xl lg:text-9xl xl:text-[11rem] text-white font-extrabold">Guitarras</dd>
    </div>
</section>